<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2025 - {new Date().getFullYear()} —
	<a href="https://ubcn.co.kr/" class="hover:underline" target="_blank"
		>ubcn.co.kr</a
	>. All rights reserved.
</p>
